form {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
  max-width: 100%;
  margin: 2em 0;
  height: 80px;
}

form span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid cyan;; */
  background-color: hsl(223, 64%, 98%);
  margin-bottom: 1.1em;
  border-radius: 9px;
  width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  background-color: inherit;
  border: none;
  text-align: center;
  font-weight: bolder;
  width: 60%;
}

form button {
  border: none;
  background-color: inherit;
  border-radius: 10px;
  color: hsl(26, 100%, 55%);
  font-weight: bolder;
  font-size: 25px;
}

.addCartButton {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}


@media (min-width: 767px) {
  form {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  form span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 43%;
    height: 100%;
  }
  
  input[type=number] {
    width: 60%;
  }


  .addCartButton {
    /* width: 46%; */
    height: 90%;
    color: white;
    font-weight: bold;
    max-height: 100%;

  }

  
}