.product {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.product h1 {
    text-align: left;
    font-weight: bold;
    width: 75%;
    line-height: 1.2;
    margin: 0.7em 0;
    margin-top: 0.3em;
    font-size: 25px;
}

.product h2 {
    display: inline;
    color: hsl(0,0,0);
    font-weight: bolder;
    margin: 1em 0;
    font-size: 23px;
}

.discount {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 0.7em;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 3px 10px;
    border-radius: 5px;
}

.product h3 {
    font-size: 16px;
    font-weight: bold;
    color: hsl(26, 100%, 55%)
}

.product p {
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    width: 88%;
    line-height: 1.8;
}

.price-info .originalPrice {
    background-color: white;
    font-size: 15px;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}

.price-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto;
    width: 95%;
}

.price-info div:nth-of-type(1) {
    width: 100%;
}


@media (min-width: 767px) {
    .product {
        margin: 2em;
        width:  40%;
    }

    .product p {
        font-size: 15px;
        line-height: 1.5;
        width: 70%;
    }

    .price-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
    
  }


  @media (min-width: 1155px) {
    .product p {
        font-size: 21px;
        line-height: 2;
        width: 70%;
    }


.product h1 {
    font-size: 30px;
}

.product h2 {
    
    font-size: 28px;
}

  }